#ignoring Makefiles
.deps/
.deps/Racquetball-Ball.Po
.deps/Racquetball-BaseApplication.Po
.deps/Racquetball-PlayingRoom.Po
.deps/Racquetball-Racquetball.Po
Makefile
Makefile.in
Ogre.log
Racquetball
Racquetball-Ball.o
Racquetball-BaseApplication.o
Racquetball-NetManager.o
Racquetball-Paddle.o
Racquetball-Player.o
Racquetball-PlayingRoom.o
Racquetball-Racquetball.o
Racquetball-Sound.o
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ogre.cfg
stamp-h1

#temporary
rain-01.wav

